<!doctype html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color: #D2D8B3">
    <div class="main">
        <h2 style="text-align: center;">{{ name }} Images</h2>
        {% if img_url %}
        <img src={{ img_url }} style="border-radius: 15px; display: block; margin-left: auto; margin-right: auto; height: 80vh;">
        {% else %}
        <p style="text-align: center;">Sorry, no images today!</p>
        {% endif %}
    </div>
    <div style="display: flex; flex-direction: row; margin: auto; width: 50vw;">
        <p style="text-align: center;">
            <a href="http://127.0.0.1:5000/" style="text-decoration: none; color: black;">🏠 Home</a> or 
            <a href="http://127.0.0.1:5000/{{ url }}" style="text-decoration: none; color: black;">More!</a>
        </p>
    </div>
</body>