<!doctype html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color: #D2D8B3">
    <div class="main">
        <h2 style="text-align: center;">Welcome to Animal Image Finder! 🐶 🐱 🐦</h2>
        <h3 style="text-align: center;">Click on which animal you would like to see.</h3>
            <p style="text-align: center;"><a href="http://127.0.0.1:5000/cat" style="text-decoration: none; color: black;">🐱 Cats</a></p>
            <p style="text-align: center;"><a href="http://127.0.0.1:5000/shibe" style="text-decoration: none; color: black;">🐶 Shiba Inus</a></p>
            <p style="text-align: center;"><a href="http://127.0.0.1:5000/bird" style="text-decoration: none; color: black;">🐦Birds</a></p>
    </div>
</body>